

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.mainPage{
    text-align:center;
    width:80%;
    margin: 40px 30px 40px 30px;
    background-color: floralwhite;
}
tr:nth-of-type(even) {
    background-color: #D9F0FF
}
.artur-link {
    padding: 11px;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}
li>.artur-link{
    color:white;
}
    .artur-link:hover {
color: yellow;
    }

.center {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.login{
    
    margin: 20px 30% 0 30%;
    border: 4px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}